<div align="center">
  <h1 class="title is-1">
    {{ title }}
  </h1>
  <us-map (onMapClick)="onMapClick($event)" *ngIf="dealers.length <= 0"></us-map>
  <agm-map *ngIf="dealers.length > 0" [latitude]="lat" [longitude]="lng" [zoom]="5">
    <agm-marker *ngFor="let dealer of dealers"
                [latitude]="strToNumber(dealer.latitude)" [longitude]="strToNumber(dealer.longitude)"
                (markerClick)="setCurrentDealer(dealer)"
    ></agm-marker>
  </agm-map>
</div>
<div align="center" *ngIf="vehicles.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th>1-Owner</th>
        <th>Accident/Damage</th>
        <th>VIN</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>List Price</th>
        <!--<th>Current Price</th>-->
        <!--<th>One Price</th>-->
        <th>Stats</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td><img [src]="vehicle.images.firstPhoto.small"></td>
        <td><img *ngIf="vehicle.oneOwner" src="assets/icons/owner.png" width="24"></td>
        <td><img *ngIf="!vehicle.noAccidents" src="assets/icons/accident.png" width="24"></td>
        <td><a [href]="vehicle.vdpUrl" target="_blank">{{ vehicle.vin }}</a></td>
        <td>{{ vehicle.year }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.mileage !== undefined && vehicle.mileage !== null ? vehicle.mileage.toString() : '' }}</td>
        <td>{{ vehicle.listPrice !== undefined && vehicle.listPrice !== null ? vehicle.listPrice.toString() : '' }}</td>
        <!--<td>{{ vehicle.currentPrice !== undefined && vehicle.currentPrice !== null ? vehicle.currentPrice.toString() : '' }}</td>-->
        <!--<td>{{ vehicle.onePrice !== undefined && vehicle.onePrice !== null ? vehicle.onePrice.toString() : '' }}</td>-->
        <td><button class="button is-info" (click)="viewStats(vehicle.year, vehicle.make, vehicle.model)">Stats</button></td>
      </tr>
    </tbody>
  </table>
</div>
